* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

html,body {
    font-family: Arial, Helvetica, sans-serif;
}

.main_screen {
    background: black;
    color: white;
}

h1 {
    font-size: 300px;
    text-align: center;
    border-bottom: solid 1px rgba(255,255,255,0.4);
}

a:hover {
    opacity: 0.5;
}

.main_blog_container {
    display: flex;
    justify-content: center;
    padding: 80px 120px;
}

.first_post_container {
    flex:1;
    padding-right: 60px;
}

.first_post_container .pic {
    width: 100%;
    height: 400px;
    background: wheat;
    margin-bottom: 50px;
    overflow: hidden;
}

.first_post_container .pic img {
    width: 100%;
}

.first_post_container .wrapper_text .title {
    font-size: 40px;
    padding-bottom: 30px;
    text-transform: capitalize;
}

.first_post_container .wrapper_text .title a {
    color: white;
    text-decoration: none;
}

.first_post_container .wrapper_text .text {
    font-size: 25px;
}

.first_post_container .wrapper_text {
    padding-left: 0px;
}

.second_post_container {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-left: 60px;
}

.second_post_container .post_container {
    display: flex;
    border-bottom: solid 1px rgba(255,255,255,0.4);

}

.second_post_container .wrapper_text {
    flex: 1;
    padding-left: 30px;
}

.second_post_container .wrapper_text .title {
    font-size: 30px;
    text-transform: capitalize;
}

.second_post_container .wrapper_text .title a {
    color: white;
    text-decoration: none;
}

.second_post_container .wrapper_text .text {
    padding-top: 15px;
    font-size: 20px;
}

.second_post_container .pic {
    width: 250px;
    height: 150px;
    background: wheat;
    overflow: hidden;
}

.second_post_container .pic img {
    width: 100%;
}

.second_post_container .post_container {
    padding: 50px 0;
}

.second_post_container .post_container:first-child {
    padding-top: 0px;
}

.second_post_container .post_container:last-child {
    border: none;
}

/* second screen */

.second_blog_container {
    background: white;
    color: black;
    display: flex;
    justify-content: center;
    padding: 80px 120px;
}

.second_blog_container .post_container {
    flex: 1;
    padding: 0 30px;
    border-left: solid 0.5px rgba(180, 177, 177, 0.4);
    border-right: solid 0.5px rgba(180, 177, 177, 0.4);
}

.second_blog_container .post_container:first-child {
    border-left: none;
}

.second_blog_container .post_container:last-child {
    border-right: none;
}

.second_blog_container .pic {
    width: 100%;
    height: 200px;
    background: wheat;
    text-align: center;
    overflow: hidden;
}

.second_blog_container .pic img {
    width:100%;
}

.second_blog_container .wrapper_text {
    padding: 20px 0 0 0;
}

.second_blog_container .wrapper_text .title {
    font-size: 30px;
    text-transform: capitalize;
}

.second_blog_container .wrapper_text .title a {
    color: black;
    text-decoration: none;
}

.second_blog_container .wrapper_text .text {
    padding-top: 15px;
    font-size: 20px;
}

/* advertising post */

.advertising_post {
    display: flex;
    background: #F8D558;
    color: black;
    padding: 80px 120px;
}

.advertising_post .text_ad {
    flex:1;
}

.advertising_post .pic_ad {
    flex:1;
    padding-left: 60px
}

.advertising_post .pic_ad img {
    width: 100%;
    height: 400px;
}

.text_ad h2 {
    font-size: 80px;
}

.text_ad .btn {
    margin-top: 50px;
    width: 400px;
    height: 80px;
    font-size: 30px;
    background: black;
    color: white;
    cursor: pointer;
}

.text_ad .btn:active {
    background:rgb(49, 48, 48);
}

/* third block */

.third_blog_container {
    background: white;
    color: black;
    padding: 0 120px;
}

.linewrapper_medium_post_container {
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

.linewrapper_medium_post_container:last-child {
    padding-bottom: 100px;
}

.linewrapper_medium_post_container .post_container {
    flex: 1;
    padding: 0 40px;
}

.third_blog_container .post_container .pic {
    width: 100%;
    height: 250px;
    background: wheat;
    overflow: hidden;
}

.third_blog_container .post_container .pic img {
    width: 100%;
}

.third_blog_container .post_container .wrapper_text .title {
    padding-top: 20px;
    font-size: 30px;
    text-transform: capitalize;
}

.third_blog_container .post_container .wrapper_text .title a {
    color: black;
    text-decoration: none;
}

.third_blog_container .post_container .wrapper_text .text {
    padding-top: 15px;
    font-size: 20px;
}

/* post page */

.post_page_container {
    background:black;
    color:white;
}

.post_page_container .pic img {
    width: 100%;
    height: 700px;
    padding-bottom: 100px;
}

.pic_and_text {
    padding: 0 25%;
}

.post_page_container .title {
    font-size: 100px;
    padding: 5% 30% 50px 5%;
    text-transform: capitalize;
}

.post_page_container .author_info {
    padding-left: 5%;
    padding-bottom: 50px;
    font-size: 30px;
}

.post_page_container .text {
    font-size: 50px;
    padding-bottom: 50px;
}
